query-results .ReactVirtualized__Table__row {
    font-size: 0.8rem;
}

.query-results,
.query-results--compiler-error {
  height: 100%;
  flex: unset;
  display: flex;
  flex-direction: column;
}

.query-results--empty {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.query-results-expanded-row {
  white-space: pre-wrap;
  word-break: break-all;
}
