---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: plc
replicas:
- count: 3
  name: api-server
- count: 3
  name: auth-server
- count: 3
  name: profile-server
- count: 5
  name: cloud-proxy
- count: 3
  name: project-manager-server
- count: 1
  name: vzmgr-server
- count: 3
  name: scriptmgr-server
resources:
- frontend_config.yaml
- cloud_ingress_managed_cert.yaml
- cloud_ingress_managed_cert_noslackin.yaml
- cloud_proxy_backend_config.yaml
- vzconn_backend_config.yaml
- ../base
- ../overlays/exposed_services_gclb
- ../overlays/plugin_job
patches:
- path: db_sidecar.yaml
  target:
    kind: Deployment
    labelSelector: db=pgsql
- path: node_selector_patch.yaml
  target:
    kind: Deployment
- path: plugin_job.yaml
  target:
    kind: Job
    labelSelector: jobgroup=plugin-db-updater
- path: support_access_config.yaml
- path: analytics_config.yaml
- path: bq_config.yaml
- path: api_deployment.yaml
- path: contact_config.yaml
- path: db_config.yaml
- path: service_config.yaml
- path: domain_config.yaml
- path: cloud_ingress_ip.yaml
- path: script_bundles_config.yaml
- path: scriptmgr_config.yaml
- path: proxy_envoy.yaml
- path: auth_deployment.yaml
labels:
- includeSelectors: true
  pairs:
    app: pl-cloud
