apiVersion: v1
kind: Pod
metadata:
  name: auth-server
  labels:
    name: auth-server
spec:
  containers:
  - name: auth-server
    image: gcr.io/pl-dev-infra/auth_server_image
    ports:
      - containerPort: 50100
        hostPort: 50100
      - containerPort: 50101
        hostPort: 50101
    env:
      - name: PL_JWT_SIGNING_KEY
        value: ABC
      - name: PL_EXTERNAL_ADDR
        value: {{.ExternalAddress}}
      - name: PL_TLS_CERT
        value: /certs/server.crt
      - name: PL_TLS_KEY
        value: /certs/server.key
      - name: PL_AUTH0_CLIENT_ID
        value: qaAfEHQT7mRt6W0gMd9mcQwNANz9kRup
      - name: PL_AUTH0_CLIENT_SECRET
        value: _rY9isTWtKgx2saBXNKZmzAf1y9pnKvlm-WdmSVZOFHb9OQtWHEX4Nrh3nWE5NNt
    volumeMounts:
        - name: certs
          mountPath: /certs
  volumes:
    - name: certs
      hostPath:
          path: /certs
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  type: NodePort
  ports:
    - port: 50100
      protocol: TCP
      targetPort: 50100
      nodePort: 30100
      name: tcp-grpc
    - port: 50101
      protocol: TCP
      targetPort: 50101
      nodePort: 30101
      name: tcp-rest
  selector:
    name: auth-server
