.sidebar-nav {
    width: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.sidebar-nav--logo img {
    width: 24px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.sidebar-nav--item {
    padding-top: 24px;
}
