#root {
  font-family: Roboto;
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  font-family: Roboto;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.center-content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;;
}

@import "./theme.scss";

.spacer {
  flex: 1;
}

// Custom scrollbar
/* width */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $oceanic;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mid-oceanic;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pale-teal-oceanic;
}

// Remove the focus outline. TODO(malthus): We make sure this doesn't affect
// forms, when we actually have forms.
:focus {
  outline: none !important;
}
