@import "./theme.scss";

.spacer {
  flex: 1;
}

// Custom scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b1420;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b1420;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0f222d;
}

// Remove the focus outline. TODO(malthus): We make sure this doesn't affect
// forms, when we actually have forms.
:focus {
  outline: none;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~react-vis/dist/style";
