@import "./theme.scss";

.spacer {
  flex: 1;
}

// Custom scrollbar
/* width */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $oceanic;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mid-oceanic;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $pale-teal-oceanic;
}

// Remove the focus outline. TODO(malthus): We make sure this doesn't affect
// forms, when we actually have forms.
:focus {
  outline: none;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~react-vis/dist/style";
