@import '../../theme.scss';

.pl-code-editor.pl-code-editor {
  .CodeMirror {
    background-color: $content-bg;
  }

  .CodeMirror-gutters {
    background-color: $body-bg;
  }

  .CodeMirror-linenumber {
    color: $white;
  }
}
