*.pb.* -diff linguist-generated=true
*.gen.go -diff linguist-generated=true
*_pb.js -diff linguist-generated=true
*_pb.d.ts -diff linguist-generated=true
go_deps.bzl -diff linguist-generated=true
src/ui/.yarn/releases/** -diff linguist-generated=true
src/ui/.yarn/plugins/** -diff linguist-generated=true
*.pxl linguist-language=Python
