[submodule "chef/site-cookbooks/ark"]
	path = chef/site-cookbooks/ark
	url = https://github.com/chef-cookbooks/ark.git
[submodule "chef/site-cookbooks/build-essential"]
	path = chef/site-cookbooks/build-essential
	url = https://github.com/chef-cookbooks/build-essential.git
[submodule "chef/site-cookbooks/git"]
	path = chef/site-cookbooks/git
	url = https://github.com/chef-cookbooks/git.git
[submodule "chef/site-cookbooks/homebrew"]
	path = chef/site-cookbooks/homebrew
	url = https://github.com/chef-cookbooks/homebrew.git
[submodule "chef/site-cookbooks/mingw"]
	path = chef/site-cookbooks/mingw
	url = https://github.com/chef-cookbooks/mingw.git
[submodule "chef/site-cookbooks/tar"]
	path = chef/site-cookbooks/tar
	url = https://github.com/chef-cookbooks/tar.git
[submodule "chef/site-cookbooks/windows"]
	path = chef/site-cookbooks/windows
	url = https://github.com/chef-cookbooks/windows.git
[submodule "chef/site-cookbooks/seven_zip"]
	path = chef/site-cookbooks/seven_zip
	url = https://github.com/windowschefcookbooks/seven_zip.git
[submodule "linters/cpplint"]
	path = linters/cpplint
	url = git@github.com:pixie-labs/cpplint.git
[submodule "third_party/arrow"]
	path = third_party/arrow
	url = git@github.com:pixie-labs/arrow.git
[submodule "third_party/libpypa"]
	path = third_party/libpypa
	url = git@github.com:pixie-labs/libpypa.git
[submodule "third_party/bpftrace"]
	path = third_party/bpftrace
	url = git@github.com:pixie-labs/bpftrace.git
