[submodule "linters/cpplint"]
	path = third_party/cpplint
	url = git@github.com:pixie-labs/cpplint.git
[submodule "third_party/bcc"]
	path = third_party/bcc
	url = git@github.com:pixie-labs/bcc.git
[submodule "third_party/bpftrace"]
	path = third_party/bpftrace
	url = git@github.com:pixie-labs/bpftrace.git
[submodule "third_party/dnsparser"]
	path = third_party/dnsparser
	url = git@github.com:pixie-labs/dnsparser.git
[submodule "third_party/libpypa"]
	path = third_party/libpypa
	url = git@github.com:pixie-labs/libpypa.git
[submodule "third_party/tdigest"]
	path = third_party/tdigest
	url = git@github.com:pixie-labs/tdigest.git
[submodule "third_party/threadstacks"]
	path = third_party/threadstacks
	url = git@github.com:pixie-labs/threadstacks.git
[submodule "third_party/ELFIO"]
	path = third_party/ELFIO
	url = git@github.com:pixie-labs/ELFIO.git
