language: python
python:
- '3.6'
cache:
  directories:
  - "$HOME/google-cloud-sdk/"

before_install:
- gcloud version || true
- if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; export CLOUDSDK_CORE_DISABLE_PROMPTS=1; curl https://sdk.cloud.google.com | bash; fi
# Add gcloud to $PATH
- source /home/travis/google-cloud-sdk/path.bash.inc
- gcloud version

install:
- pip3 install flake8==3.8.3
- pip3 install pyyaml
- "./scripts/install-latest-px.sh"

before_script:
# if a PR contains modifications to the px/ folder, check that the README.md has been updated
- |
    if [[ -n "$(git diff --name-only $TRAVIS_COMMIT_RANGE | grep /px/)" ]]; then
      cp ./pxl_scripts/README.md ./pxl_scripts/README_ORIG.md
      python3 ./pxl_scripts/update_readme.py
      if [[ -n "$(diff ./pxl_scripts/README.md ./pxl_scripts/README_ORIG.md)" ]]; then
        echo "ERROR: This diff changes files in the ./pxl_scripts/px/ directory without updating the ./pxl_scripts/README.md file. To update the README.md file, run the ./pxl_scripts/update_readme.py script and check in the results."
        exit 1
      fi
    fi

script:
- "./scripts/lint.sh"
- "./scripts/build.sh"

deploy:
  - provider: script
    script: >-
      openssl aes-256-cbc -K $encrypted_3fab9f21603e_key -iv $encrypted_3fab9f21603e_iv
      -in gcs-sa.json.enc -out gcs-sa.json -d &&
      gcloud auth activate-service-account --key-file gcs-sa.json &&
      rm gcs-sa.json &&
      ./scripts/deploy.sh
    skip_cleanup: true
    on:
      branch: main
