@import "../../theme.scss";

.dialog-box {
  flex-direction: column;
  display: flex;

  background: $white;
  border: 1px solid $gray-350;
  border-radius: 4px;

  color: $black;
  font-size: 14px;
}

.dialog-box--content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px;
}

.dialog-box--header {
  display: flex;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid $gray-350;
  padding: 13px;
}
