@import "../../theme.scss";

.content-box {
  margin: 0px 20px 20px 0;
  background-color: $content-bg;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.content-box--wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content-box--header {
  display: flex;
  align-items: center;
  height: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 18px 0px 18px;
  font-size: 14px;
}

.content-box--header-text {
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.content-box--subheader-text {
  color: $light;
  margin-left: 5px;
}

.content-box--secondary-text {
  font-family: monospace;
  color: $secondary;
  opacity: 0.65;

  a, a:hover {
    color: inherit;
  }
}

.content-box--content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-box--resizer {
  height: 20px;
  justify-content: center;
  display: flex;

  img {
    opacity: 0.5;
  }
}

.content-box--resizer:hover {
  img {
    opacity: 1;
  }

  cursor: row-resize;
}

.content-box[data-resizable] {
  margin: 0 20px 0 0;
}

.content-box[data-resizable] .content-box--content {
  overflow-y: scroll;
}
