{
  "presets": ["@babel/react", "@babel/typescript", ["@babel/env", { "modules": false }]],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-private-methods",
    "react-hot-loader/babel" // Enables React code to work with HMR.
  ]
}
