# For produced assets.
dist/*

# Coverage results.
coverage/

# For produced storybook_static.
storybook_static/*

# For Jenkins test results.
junit.xml

# Yarn/npm files.
node_modules
yarn-error.log
