apiVersion: v1
kind: Pod
metadata:
  name: gateway-server
  labels:
    name: gateway-server
spec:
  containers:
  - name: gateway-server
    image: gcr.io/pl-dev-infra/gateway_server_image
    ports:
      - containerPort: 51000
        hostPort: 51000
      - containerPort: 51001
        hostPort: 51001
    env:
      - name: PL_JWT_SIGNING_KEY
        value: ABC
      - name: PL_SESSION_KEY
        value: ABC_SESSION
      - name: PL_EXTERNAL_ADDR
        value: {{.ExternalAddress}}
      - name: PL_TLS_CERT
        value: /certs/server.crt
      - name: PL_TLS_KEY
        value: /certs/server.key
    volumeMounts:
        - name: certs
          mountPath: /certs
  volumes:
    - name: certs
      hostPath:
          path: /certs
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  type: NodePort
  ports:
    - port: 51000
      protocol: TCP
      targetPort: 51000
      nodePort: 31000
      name: tcp-31000
    - port: 51001
      protocol: TCP
      targetPort: 51001
      nodePort: 31001
      name: tcp-31001
  selector:
    name: gateway-server
