apiVersion: v1
kind: Pod
metadata:
  name: gateway-server
  labels:
    name: gateway-server
spec:
  containers:
  - name: gateway-server
    image: gcr.io/pl-dev-infra/gateway_server_image
    ports:
      - containerPort: 50000
        hostPort: 50000
      - containerPort: 50001
        hostPort: 50001
    env:
      - name: PL_JWT_SIGNING_KEY
        value: ABC
      - name: PL_EXTERNAL_ADDR
        value: {{.ExternalAddress}}
      - name: PL_TLS_CERT
        value: /certs/server.crt
      - name: PL_TLS_KEY
        value: /certs/server.key
    volumeMounts:
        - name: certs
          mountPath: /certs
  volumes:
    - name: certs
      hostPath:
          path: /certs
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  type: NodePort
  ports:
    - port: 50000
      protocol: TCP
      targetPort: 50000
      nodePort: 30000
    - port: 50001
      protocol: TCP
      targetPort: 50001
      nodePort: 30001
  selector:
    name: gateway-server
