@import 'theme.scss';

.pixie-accordion {
  height: 100%;
  display: flex;
  flex-direction: column;

  .btn {
    border: none;
    box-shadow: none !important;
  }
}

.pixie-accordion-toggle {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
  background-color: inherit;
  color: inherit;
  flex-shrink: 0;

  .pixie-accordion-toggle-collapse-icon {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
  }
}

.pixie-accordion-collapse {
  background-color: $not-so-deep-oceanic;

  &.show {
    overflow-y: auto;
    min-height: 0;
  }

  .pixie-accordion-item {
    text-align: start;
    width: 100%;
    color: inherit;
    padding-left: 2rem;
    background-color: inherit;
  }
}
