[
  {% for artifact in properties.artifacts %}
    {% set artifactParts = artifact.tag.split("@") %}
    {
	  	"type": "{{ artifact.name }}",
	  	"reference": "{{ artifact.tag }}",
	  	"name": "{{ artifact.imageName }}",
	  	"version": "{{ artifactParts[1] }}"
    }{% if not loop.last %},{% endif %}
  {% endfor %}
]
