apiVersion: v1
kind: Pod
metadata:
  name: proxy-server
  labels:
    name: proxy-server
spec:
  containers:
  - name: proxy-server
    image: gcr.io/pl-dev-infra/proxy
    ports:
      - containerPort: 443
        hostPort: 443
    readinessProbe:
      httpGet:
        scheme: HTTPS
        path: /healthz
        port: 443
    env:
      - name: PL_JWT_SIGNING_KEY
        valueFrom:
          secretKeyRef:
            name: pl-app-secrets
            key: jwt-signing-key
      - name: PL_EXTERNAL_ADDR
        value: {{.ExternalAddress}}
      - name: PL_TLS_CERT
        value: /certs/tls.crt
      - name: PL_TLS_KEY
        value: /certs/tls.key
    volumeMounts:
        - name: certs
          mountPath: /certs
  volumes:
    - name: certs
      secret:
        secretName: custom-tls-cert
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-service
  annotations:
    service.alpha.kubernetes.io/app-protocols: '{"tcp-https":"HTTPS"}'
spec:
  type: NodePort
  ports:
    - port: 443
      protocol: TCP
      targetPort: 443
      name: tcp-https
  selector:
    name: proxy-server
---
{{ if .HasCloudIngress }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: proxy
  annotations:
    kubernetes.io/ingress.global-static-ip-name: "app-staging-https"
spec:
  tls:
  - secretName: ssl-app-staging
  backend:
    serviceName: proxy-service
    servicePort: 443
{{ end }}
