@import "../../theme.scss";

#pixie-graph {
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg .cluster rect {
  fill: #e7e7e7;
  stroke: #999;
  stroke-width: 1.5px;
}

.node rect {
  stroke: #999;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #a3a3a3;
  stroke-width: 1.5px;
}
