.header {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: 0.02em;
    padding-top: 28px;
    color: white;
    margin-bottom: 10px;
}

.header--text {
    display: flex;
}

.header--primary-text {
    padding-right: 10px;
    color: #6C6D7A;
}

.header--secondary-text {
    padding-left: 10px;
    font-weight: 500;
}
