// TODO(malthus): Figure out how to resolve this properly with webpack.
@import '../../theme.scss';

.pixie-editor--result-viewer {
  .query-results,
  .query-results--compiler-error {
    height: 100%;
    flex: unset;
    display: flex;
    flex-direction: column;
  }

  .tab-content {
    flex: 1;
  }

  .tab-pane {
    height: 100%;
  }

  .pixie-editor--tab-pane-chart {
    padding: 20px;
  }
}

.pixie-editor--result-viewer {
  display: flex;
  flex-direction: column;
}

.pixie-editor--result-viewer.center-content {
  align-items: center;
  justify-content: center;
}

.gutter {
  background-color: $border-color;
}

.gutter:hover {
  cursor: row-resize;
}

.pixie-editor--content-title-row {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid $border-color;
}
