@import '../../theme.scss';

.pixie-drawer {
  background-color: $dark;

  .list-group-item-action {
    color: $light;

    &:hover {
      color: $lighter;
    }
  }
}

.pixie-editor-tabs-nav.nav-tabs {
  border-color: $border-color;
  flex-wrap: nowrap;

  .nav-item {
    color: $light;
    min-width: 0;

    &.active,
    &:hover {
      color: $lighter;
      border-color: $border-color;
    }

    &.pixie-editor-tabs-new {
      min-width: auto;
      padding: 0.5rem;
    }
  }
}

.pixie-editor-tab-title {
  display: flex;
  align-items: center;

  &-text {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-close-icon {
    margin-left: 8px;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
  }
}

.pixie-editor-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
}

.pixie-editor-tabs-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.pixie-editor-tab-content-container {
  position: relative;
  flex: 1;
}

.pixie-editor-content-fullbleed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
