@import 'theme.scss';

.pixie-history-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.pixie-history-title {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pixie-history-list-search-wrapper {
  margin: .5rem .5rem 0;
  position: relative;
  flex: 1;
}

.pixie-history-list-search-input {
  border: none;
  height: 2rem;
  padding-right: 2rem;

  &, &:focus {
    background-color: $darker;
  }
}

.pixie-history-list-search-clear {
  &-hidden {
    display: none;
  }

  height: 1rem;
  width: 1rem;
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
}

.pixie-history-list-controls {
  display: flex;
  flex-direction: row;
}
