.pixie-history-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.pixie-history-title {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
