@import 'theme.scss';

.gutter {
  background-color: $border-color;

  &:hover {
    cursor: row-resize;
  }
}

.pixie-editor--content-title-row {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid $border-color;
}

.pixie-code-editor.pl-code-editor {
  .CodeMirror {
    background-color: $content-bg;
  }

  .CodeMirror-gutters {
    background-color: $body-bg;
  }

  .CodeMirror-linenumber {
    color: $white;
  }
}
