--extra-index-url https://download.pytorch.org/whl/cpu
numpy==1.24.2
pandas==1.5.3
pip==22.0.2
prettytable==3.6.0
python-dateutil==2.8.2
pytz==2022.7.1
setuptools==59.6.0
six==1.16.0
termcolor==2.2.0
torch==1.13.1+cpu
typing_extensions==4.4.0
wcwidth==0.2.6
wheel==0.37.1
