apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: vizier-gateway
  namespace: pl
  labels:
    app: pl-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vizier-gateway
  template:
    metadata:
      labels:
        app: vizier-gateway
        name: vizier-gateway
    spec:
      containers:
      - name: vizier-gateway-server
        image: gcr.io/pl-dev-infra/gateway_server_image
        ports:
          - containerPort: 51000
            hostPort: 51000
          - containerPort: 51001
            hostPort: 51001
        env:
          - name: PL_JWT_SIGNING_KEY
            valueFrom:
              secretKeyRef:
                name: pl-app-secrets
                key: jwt-signing-key
          - name: PL_SESSION_KEY
            valueFrom:
              secretKeyRef:
                name: pl-app-secrets
                key: session-key
          - name: PL_EXTERNAL_ADDR
            value: {{.ExternalAddress}}
          - name: PL_TLS_CERT
            value: /certs/tls.crt
          - name: PL_TLS_KEY
            value: /certs/tls.key
          - name: PL_AUTH_SERVICE
            value: "auth-service.default.svc.cluster.local:50100"
        volumeMounts:
            - name: certs
              mountPath: /certs
      volumes:
        - name: certs
          secret:
            secretName: custom-tls-cert
---
apiVersion: v1
kind: Service
metadata:
  name: vizier-gateway-service
spec:
  type: NodePort
  ports:
    - port: 51000
      protocol: TCP
      targetPort: 51000
      nodePort: 31000
      name: tcp-grpc
    - port: 51001
      protocol: TCP
      targetPort: 51001
      nodePort: 31001
      name: tcp-rest
  selector:
    name: vizier-gateway
