apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: stirling-wrapper
  namespace: pl-{{USER}}
  labels:
    app: pl-monitoring
spec:
  selector:
    matchLabels:
      name: stirling-wrapper
  template:
    metadata:
      labels:
        name: stirling-wrapper
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      containers:
      - name: stirling-wrapper
        image: gcr.io/pl-dev-infra/stirling_wrapper:{{USER}}
        imagePullPolicy: Always
        resources:
          limits:
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 256Mi
        securityContext:
          capabilities:
            add:
              - SYS_PTRACE
              - SYS_ADMIN
          privileged: true
        volumeMounts:
        - name: proc
          mountPath: /proc
          readOnly: true
        - name: sys
          mountPath: /sys
          readOnly: true
        - name: usr-src # for linux headers
          mountPath: /host/usr/src
          readOnly: true
        - name: lib-modules # for linux headers
          mountPath: /host/lib/modules
          readOnly: true
      hostPID: true
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      terminationGracePeriodSeconds: 30
      volumes:
      - name: proc
        hostPath:
            path: /proc
            type: Directory
      - name: sys
        hostPath:
            path: /sys
            type: Directory
      - name: usr-src
        hostPath:
            path: /usr/src
            type: Directory
      - name: lib-modules
        hostPath:
            path: /lib/modules
            type: Directory
