about-time==3.1.1
alive-progress==2.4.1
anyio==3.6.1
attrs==21.4.0
backoff
baluhn==0.1.2
beautifulsoup4
blis==0.7.8
bpemb
catalogue==2.0.8
certifi==2022.6.15
cffi
charset-normalizer==2.0.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
conllu
curlify==2.2.1
cycler==0.11.0
cymem==2.0.6
deprecated
dicttoxml==1.7.4
emoji
exceptiongroup==1.0.0rc8
fake-http-header==0.1.2
faker_airtravel==0.4
faker==13.15.0
filelock==3.8.0
# latest release lacks "add_unk" option for unknown tokens. Hence installing from source
flair@git+https://github.com/flairNLP/flair.git@d4ed67bf663e4066517f00397412510d90043653
flatbuffers==1.12
fonttools==4.34.4
ftfy
future
gdown
gensim
grapheme==0.6.0
graphql-core==3.2.1
haikunator==2.1.0
huggingface-hub==0.9.1
hyperopt==0.2.7
hypothesis-graphql==0.9.0
hypothesis-jsonschema==0.22.0
hypothesis==6.50.1
idna==3.3
importlib-metadata<4.0.0,>=3.7.0
iniconfig==1.1.1
iso3166==2.1.1
janome
jinja2
joblib==1.2.0
json2html==1.3.0
jsonschema==4.7.2
junit-xml==1.9
kaleido
kiwisolver==1.4.4
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
lxml
markupsafe
matplotlib==3.5.2
milksnake
more-itertools==8.14.0
mpld3
multidict==6.0.2
murmurhash==1.0.8
networkx==2.8.6
numpy==1.23.2
overrides==3.1.0
packaging==21.3
pandas==1.3.5
pathy==0.6.2
phonenumbers==8.12.54
pillow==9.2.0
plotly==5.9.0
pluggy==1.0.0
pptree==3.1
preshed==3.0.7
presidio-analyzer==2.2.29
presidio-anonymizer==2.2.29
privy-presidio-utils==0.0.71
protobuf==3.20.3
py==1.11.0
py4j==0.10.9.7
pycountry==22.3.5
pycparser
pycryptodome==3.15.0
pydantic==1.9.2
pyparsing==3.0.9
pypika==0.48.9
pyrsistent==0.18.1
pytest-subtests==0.7.0
pytest==7.1.2
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytorch-revgrad
pytz==2022.1
pyyaml==6.0
regex==2022.8.17
requests-file==1.5.1
requests==2.27.1
schemathesis==3.17.2
schwifty==2022.7.1
scikit-learn==1.0.2
scipy==1.9.1
segtok
sentencepiece==0.1.97
setuptools
six==1.16.0
sklearn-crfsuite==0.3.6
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve
spacy-alignments
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy-stanza
spacy-transformers
spacy==3.4.1
sqlitedict==2.0.0
srsly==2.4.4
stanza
starlette==0.20.4
tabulate==0.8.10
tenacity==8.0.1
thinc==8.1.0
threadpoolctl==3.1.0
tldextract==3.3.1
tokenizers==0.12.1
tomli_w==1.0.0
tomli==2.0.1
torch
tqdm_joblib==0.0.2
tqdm==4.64.0
transformers
typer==0.4.2
typing_extensions==4.3.0
urllib3==1.26.10
wasabi==0.10.1
wcwidth
Werkzeug==2.2.2
wikipedia_api
wordcloud
wrapt==1.14.1
xmltodict==0.13.0
yarl==1.7.2
zipp==3.8.1
