about-time==3.1.1
alive-progress==2.4.1
anyio==3.6.1
attrs==21.4.0
backoff==2.2.1
baluhn==0.1.2
beautifulsoup4==4.11.1
blis==0.7.8
bpemb==0.3.4
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
conllu==4.5.2
curlify==2.2.1
cycler==0.11.0
cymem==2.0.6
Deprecated==1.2.13
dicttoxml==1.7.4
emoji==2.2.0
exceptiongroup==1.0.0rc8
fake-http-header==0.1.2
Faker==13.15.0
faker_airtravel==0.4
filelock==3.8.0
# latest release lacks "add_unk" option for unknown tokens. Hence installing from source
flair @ git+https://github.com/flairNLP/flair.git@d4ed67bf663e4066517f00397412510d90043653
flatbuffers==1.12
fonttools==4.34.4
ftfy==6.1.1
future==0.18.2
gdown==4.4.0
gensim==4.2.0
grapheme==0.6.0
graphql-core==3.2.1
haikunator==2.1.0
huggingface-hub==0.9.1
hyperopt==0.2.7
hypothesis==6.50.1
hypothesis-graphql==0.9.0
hypothesis-jsonschema==0.22.0
idna==3.3
importlib-metadata==3.10.1
iniconfig==1.1.1
iso3166==2.1.1
Janome==0.4.2
Jinja2==3.1.2
joblib==1.2.0
json2html==1.3.0
jsonschema==4.7.2
junit-xml==1.9
kaleido==0.2.1
kiwisolver==1.4.4
konoha==4.6.5
langcodes==3.3.0
langdetect==1.0.9
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.5.2
milksnake==0.1.5
more-itertools==8.14.0
mpld3==0.3
multidict==6.0.2
murmurhash==1.0.8
networkx==2.8.6
numpy==1.23.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
overrides==3.1.0
packaging==21.3
pandas==1.3.5
pathy==0.6.2
phonenumbers==8.12.54
Pillow==9.3.0
pip==22.0.2
plotly==5.9.0
pluggy==1.0.0
pptree==3.1
preshed==3.0.7
presidio-analyzer==2.2.29
presidio-anonymizer==2.2.29
privy-presidio-utils==0.0.71
protobuf==3.20.3
py4j==0.10.9.7
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.9.2
pyparsing==3.0.9
PyPika==0.48.9
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.2.0
pytest-subtests==0.7.0
python-crfsuite==0.9.8
python-dateutil==2.8.2
python-dotenv==0.20.0
pytorch_revgrad==0.2.0
pytz==2022.1
PyYAML==6.0
regex==2022.8.17
requests==2.27.1
requests-file==1.5.1
schemathesis==3.17.2
schwifty==2022.7.1
scikit-learn==1.0.2
scipy==1.9.1
segtok==1.5.11
sentencepiece==0.1.97
setuptools==59.6.0
six==1.16.0
sklearn==0.0
sklearn-crfsuite==0.3.6
smart-open==5.2.1
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-alignments==0.8.6
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spacy-stanza==1.0.2
spacy-transformers==1.1.8
sqlitedict==2.0.0
srsly==2.4.4
stanza==1.4.2
starlette==0.20.4
tabulate==0.8.10
tenacity==8.0.1
thinc==8.1.0
threadpoolctl==3.1.0
tldextract==3.3.1
tokenizers==0.12.1
tomli==2.0.1
tomli_w==1.0.0
torch==1.13.1
tqdm==4.64.0
tqdm-joblib==0.0.2
transformers==4.19.2
typer==0.4.2
typing_extensions==4.3.0
urllib3==1.26.10
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.1.2
wheel==0.37.1
Wikipedia-API==0.5.4
wordcloud==1.8.2.2
wrapt==1.14.1
xmltodict==0.13.0
yarl==1.7.2
zipp==3.8.1
