.pixie-login {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  color: black;

  .auth0-lock-blur-support {
    display: none;
  }

  .auth0-lock.auth0-lock .auth0-lock-header {
    display: none;
  }

  .auth0-lock.auth0-lock .auth0-lock-terms {
    background: white;
    color: #52575C; // gray-700.
  }

  .auth0-lock.auth0-lock .auth0-lock-social-button[data-provider^=google].auth0-lock-social-big-button {
    background-color: #4285f4;
    border: 2px solid #4285f4;
  }

  .auth0-lock.auth0-lock .auth0-lock-social-button[data-provider^=google].auth0-lock-social-big-button:hover {
    border: 2px solid #3367d6;
  }

  .auth0-lock.auth0-lock .auth0-lock-social-button[data-provider^=google]:hover:not([disabled])
  .auth0-lock-social-button-icon  {
    background-color: white !important;
  }

  .auth0-lock.auth0-lock .auth0-lock-social-button-icon {
    background-color: white;
  }

  .auth0-lock.auth0-lock .auth0-lock-social-button[data-provider^=google] .auth0-lock-social-button-text {
    color: white !important;
    line-height: 38px;
  }

  .auth0-lock.auth0-lock .auth0-lock-social-button[data-provider^=google]:hover:not([disabled])
  .auth0-lock-social-button-text  {
    background-color: #3367d6 !important;
  }

  .dialog-box--content {
    padding: 40px 80px 60px 80px;
  }

  .error-message {
    display: flex;
    margin-bottom: 20px;
  }

  .error-message--icon {
    margin-right: 10px;
  }

  .login-header {
    padding-bottom: 40px;
    font-size: 30px;
  }

  .login-footer {
    padding-top: 20px;
    a {
      font-size: 22px;
      color: #4385F4;
      font-weight: 600;
    }

    hr {
      border-top: 1px solid black;
      margin-bottom: 44px;
    }
  }
}
