---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: plc
resources:
- ../../base/elastic/cluster
labels:
- includeSelectors: true
  pairs:
    app: pl-cloud
patches:
- path: elastic_storage_patch.yaml
  target:
    group: elasticsearch.k8s.elastic.co
    kind: Elasticsearch
    name: pl-elastic
    version: v1
- path: elastic_replica_patch.yaml
  target:
    group: elasticsearch.k8s.elastic.co
    kind: Elasticsearch
    name: pl-elastic
    version: v1
