#vg-tooltip-element {
  visibility: hidden;
  padding: 8px;
  position: fixed;
  z-index: 1000;
  font-family: sans-serif;
  font-size: 11px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  color: #a6abae; // theme.palette.foreground.one

  &.visible {
    visibility: visible;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;
  }

  table {
    border-spacing: 0;

    tr {
      border: none;

      td {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 2px;
        padding-bottom: 2px;
        &.key {
          color: #808080;
          max-width: 150px;
          text-align: left;
          padding-right: 4px;
        }
        &.value {
          display: block;
          max-width: 300px;
          max-height: 7em;
          text-align: left;
        }
      }
    }
  }

  /* The default theme is the light theme. */
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #d9d9d9;
  color: black;

  &.dark-theme {
    background-color: #292929; // theme.palette.background.paper
    opacity: 0.9;
    border: 1px solid #343434; // theme.palette.foreground.grey4
    td.key {
    }
  }
}
