.formatted_data--latency-low {
    color: #00bd8f;
}

.formatted_data--latency-med {
    color: #dc9406;
}

.formatted_data--latency-high {
    color: #e54e5c;
}

.formatted_data--alert-true {
    color: #e54e5c;
}

.formatted_data--json-number {
    color: #ae81ff;
}

.formatted_data--json-key {
    color: white;
}

.formatted_data--json-boolean {
    color: #f92672;
}

.formatted_data--json-null {
    color: #f92672;
}

.formatted_data--json-string {
    color: #fff48f;
    word-break: break-all;
}

.formatted_data--json {
  font-size: 13px;
  font-family: "Roboto Mono", serif;
}
