@import "../../index.scss";

.login {
  height: 100%;
  width: 100%;
  background-color: white;
}

.login-body {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.company-login-content {
  display: flex;
  justify-content: center;
  height: 197px;
  flex-direction: column;
  align-items: center;
}

.company-login-content h3 {
  margin-bottom: 20px;
}

.company-login-content label {
  font-size: 14px;
  color: $gray-600;
  font-weight: 500;
  margin-bottom: 0;
}

.company-login-content .btn {
  border-radius: 2px;
  color: white;
  width: 100%;
  margin-top: 10px;
}

.company-login-content--footer-text {
  margin-top: 20px;
}

.company-login-content a {
  color: $info;
}

.company-login-content a:hover {
  color: $info;
}

.company-login-content--error {
  color: $red;
}

.login .auth0-lock-cred-pane {
  border: 1px solid $gray-350;
  border-radius: 4px;
}

.login .auth0-lock-blur-support {
  display: none;
}

.login .auth0-lock.auth0-lock .auth0-lock-header {
  background-color: $gray-100;
  color: $gray-700;
}

.login .auth0-lock.auth0-lock .auth0-lock-terms {
  background: $white;
  color: $gray-700;
}
