@import "theme.scss";

.pixie-login {
  background-color: white;

  .auth0-lock-cred-pane {
    border: 1px solid $gray-350;
    border-radius: 4px;
  }

  .auth0-lock-blur-support {
    display: none;
  }

  .auth0-lock.auth0-lock .auth0-lock-header {
    background-color: $gray-100;
    color: $gray-700;
  }

  .auth0-lock.auth0-lock .auth0-lock-terms {
    background: $white;
    color: $gray-700;
  }

  .dialog-box--content {
    padding: 40px 80px 60px 80px;
  }

  .error-message {
    display: flex;
    margin-bottom: 20px;
  }

  .error-message--icon {
    margin-right: 10px;
  }
}
