.pixie-drawer {
  display: flex;
  flex-direction: column;
}

.pixie-drawer-content {
  flex: 1;
  min-height: 0;

  &.closed > * {
    display: none;
  }
}

.pixie-drawer-footer-row {
  display: flex;
  flex-direction: row;
  background-color: inherit;
  height: 2rem;
}
