#root {
  flex: 1;
}

html {
  height: 100%;
  font-family: Roboto;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.main-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
}

.content {
  flex: 1;
  min-width: 400px;
  min-height: 500px;
}
