@import "../../theme.scss";

.query-executor .content-box .content-box--content {
    overflow-x: hidden;
    overflow-y: hidden;
}

.cluster-instructions {
    display: flex;
    justify-content: center;
}

.cluster-instructions .cluster-instructions--content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
