@import "../../index.scss";

.vizier {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100vw;
}

.vizier-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.query-executor {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 0;
}

.query-executor .code-editor .CodeMirror {
    height: 100%;
}

.code-editor {
    margin-top: 25px;
    display: flex;
    flex: 1;
    min-height: 0;
}

.hotkey-container {
    flex: 1;
    display: flex;
}

.query-executor .code-editor .CodeMirror {
    background: $content-bg;
}

.query-executor .code-editor .CodeMirror-gutters {
    background: $content-bg;
}

.query-executor .code-editor .CodeMirror-linenumber {
    color: $white;
}

.query-results .ReactVirtualized__Table__row {
    font-size: 0.8rem;
}

.query-executor .ReactCodeMirror .CodeMirror-vscrollbar,
.query-executor .ReactCodeMirror .CodeMirror-scrollbar-filler {
    display: none !important;
}

.query-executor .ReactCodeMirror {
    width: 100%;
}

.agent-display-table {
    display: flex;
    flex: 1;
}

.query-executor--footer {
    display: flex;
}

.query-results {
    display: flex;
    flex: 1;
}

.query-results--compiler-error {
    display: flex;
    flex: 1;
}

.query-results--empty {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.query-executor .content-box .content-box--content {
    overflow-x: hidden;
    overflow-y: hidden;
}

.cluster-instructions {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.cluster-instructions .cluster-instructions--content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
