---
name: ossf-scorecard
on:
  schedule:
  - cron: '20 7 * * 2'
  push:
    branches:
    - 'main'
permissions: read-all
jobs:
  analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      contents: read
      actions: read
    steps:
    - uses: actions/checkout@v3
    - uses: ossf/scorecard-action@v2.1.2
      with:
        results_file: results.sarif
        results_format: sarif
    - uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: results.sarif
